{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Us Page Section Begin -->
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    {% for i in about %}
                    <div class="col-lg-6">
                        <div class="ap-title">
                            <h2>{{ i.title }}</h2>
                            <p>{{ i.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% for i in services %}
                    <div class="col-lg-5 offset-lg-1">
                        <ul class="ap-services">
                            <li><i class="icon_check"></i>{{ i.name }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery Section Begin -->
    <section class="gallery-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span></span>
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for i in l_gallery %}
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="{{ i.img.url }}">
                                <div class="gi-text">
                                    <h3>{{ i.title }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->

 {% endblock %}